version: "3.8"
services:

  mongodb:
    image: mongo:4.2
    container_name: bookstore-mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: mongo
